.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 6px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  padding: 0;
  background-color: $darkerGray;
  color: white;
  outline: none;
  text-decoration: none;
  transition: 0.4s;

  @media screen and (min-width: $grid-breakpoint-lg) {
    width: 64px;
    height: 64px;
    font-size: 1.75em;
  }

  /* Colors */
  &.x {
    background-color: #000000;
  }

  &.instagram {
    background-color: #E4405F;
  }

  &.stackoverflow {
    background-color: #F48024;
  }

  &.stackexchange {
    background-color: #1E5397;
  }

  &.linkedin {
    background-color: #0A66C2;
  }

  &.deviantart {
    background-color: black;
    color: #50CC47;
  }

  &.github {
    background-color: #26115F;
  }

  &.gitlab {
    background-color: #FC6D26;
  }

  &.ubuntu {
    background-color: #E95420;
  }

  &.medium {
    background-color: #E8E8E8;
    color: #191919;
  }

  &.steam {
    background-color: #1B2838;
  }

  &.facebook {
    background-color: #3B5998;
  }

  &.youtube {
    background-color: #FF0000;
  }

  &.rss {
    background-color: #F26522;
  }

  &:hover, &:active {
    background-color: white;
    color: $darkGray;
    transform: scale(1.125);
  }
}
