---
--- 

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "common-styles";
@import "custom-animations";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $montserrat;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $MavenPro;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: $blue;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .navbar
//

/*
  Responsive navbar using Flexbox and Javascript
  https://itnext.io/how-to-build-a-responsive-navbar-using-flexbox-and-javascript-eb0af24f19bf
*/
.navbar {
  font-family: $MavenPro;
  font-size: 18px;
  background-color: rgba($darkerGray, 0.9);
  box-shadow: 0 1px 3px rgba(black, 0.12), 0 1px 2px rgba(black, 0.24);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1030;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 10px;
  transition: 0.4s;

  .main-nav {
    list-style-type: none;
    display: none;

    li {
      text-align: center;
      margin: 15px auto;
    }
  }

  .expanded-menu {
    display: block;
  }

  .nav-links,
  .logo {
    text-decoration: none;
    color: white;
    transition: 0.4s;

    &:hover {
      color: $purple;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-top: 12px;

    .logo-image {
      width: 48px;
    }

    .logo-text {
      color: inherit;
      font-family: inherit;
      font-size: 26px;
      margin: 4px 0 0 0.5em;
    }
  }

  .navbar-toggle {
    position: absolute;
    top: 18px;
    right: 20px;
    color: white;
    font-size: 24px;
    transition: 0.4s;

    &:hover {
      color: $purple;
    }
  }

  @media screen and (min-width: $grid-breakpoint-md) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;

    .main-nav {
      display: flex;
      margin-right: 1em;
      flex-direction: row;
      justify-content: flex-end;
    }

    .main-nav li {
      margin: 0;
    }

    .nav-links {
      margin-left: 40px;
    }

    .logo {
      margin-top: 0;
      margin-left: 20px;
    }

    .navbar-toggle {
      display: none;
    }

    &.scroll-top {
      height: 84px;
      background-color: white;
      box-shadow: none;

      .nav-links,
      .logo {
        &:not(:hover) {
          color: $darkGray;
        }
      }
    }
  }
}


//
// .main
//

#main {
  padding-top: 5em;
  padding-bottom: 2em;
  /*
    SASS variable in calc() function
    https://stackoverflow.com/questions/17982111/sass-variable-in-css-calc-function/20236515#20236515
  */
  min-height: calc(100vh - #{$footer-height});

  @media screen and (min-width: $grid-breakpoint-lg) {
    min-height: calc(100vh - #{$footer-height-lg});
  }
}

.posts>.post {
  .image-wrapper {
    line-height: 0;
  }

  .post-text {
    padding: 0 2em 1.5em;
  }

  .entry {
    text-align: justify;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.post {
  margin-bottom: 2em;
  margin-top: 2em;

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }
}

// 
// .footer
//

.upper-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $darkGray;
  padding: 1em;
  box-shadow: 0 -3px 6px rgba(black, 0.16), 0 -3px 6px rgba(black, 0.23);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  background-color: $darkerGray;

  .footer-link {
    color: $gray;

    &:hover,
    &:active,
    &:focus {
      color: $purple;
    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "social-icons";